{% extends 'dashboard/base.html' %}
{% block content %}
<script>
window.onload=function()
{
    Snackbar();
}
function Snackbar(){
    {% if DocSuc == 1 %}
        var DocSuc = document.getElementById("DocSuc");
        DocSuc.className = "show";
        setTimeout(function(){ DocSuc.className = DocSuc.className.replace("show", ""); }, 3000);
    {% elif DelSuc == 1 %}
        var DocSuc = document.getElementById("DelSuc");
        DelSuc.className = "show";
        setTimeout(function(){ DelSuc.className = DelSuc.className.replace("show", ""); }, 3000);
    {% endif %}
}
</script>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            {% if not Dockernum == 0 %}
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">data table</h3>

                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>DockerName</th>
                                                <th>Fuzzer</th>
                                                <th>Program</th>
                                                <th>Host Ip</th>
                                                <th></th>
                                                
                                            </tr>
                                        </thead>
                                        {% for docker in Dockers %}
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>{{docker.Docker_Name}}</td>
                                                <td>{{docker.Fuzzer}}</td>
                                                <td class="desc">{{docker.Program}}</td>
                                                <td>{{docker.Port}}</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <a href="{% url 'docker_delete' Docker_name=docker.Docker_Name %}"><button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                            {% endif %}
                            <!-- Use a button to open the snackbar -->

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Docker Create</strong> Forms
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" id="form1">{% csrf_token %}
                                                                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="selectSm" class=" form-control-label">Default Program</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                        {{form.Program}}
                                                        <small class="form-text text-muted"> if you want default program</small>
                                                </div>
                                            </div>
                                                                                        <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Fuzzing Program</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    {{form.User_Program}}
                                                    <small class="form-text text-muted"> &nbsp;</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">DockerName</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    {{form.Docker_Name}}
                                                    <small class="form-text text-muted"> &nbsp;</small>

                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">DockerHub REPO</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    {{form.DockerHub}}
                                                    <small class="form-text text-muted"> &nbsp;</small>
                                                    
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Fuzzer Name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    {{form.Fuzzer}}
                                                    <small class="form-text text-muted">&nbsp; </small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Host IP</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    {{form.Port}}
                                                    <small class="form-text text-muted"> &nbsp;</small>
                                                </div>
                                            </div>                                                                        

                  

                                            <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o" form="form1"></i> Submit
                                        </button>
                                    </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="DocSuc">Docker Create Success</div>
                        <div id="DelSuc">Delete Success</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- end document -->
{% endblock %}