{% extends 'dashboard/base.html' %}
 {% load staticfiles %}
{% block content %}
<script>
window.onload=function()
{
    Snackbar();
    Pingshow();
}
function Pingshow() {
    {% if PingResult == 'success' %}
	var x = document.getElementById("DelSuc");
	x.innerHTML = "Ping Success!";
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    {% endif %}

    {% if PingResult == 'fail' %}
	var x = document.getElementById("DelSuc");
	x.innerHTML = "Ping Fail!";
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    {% endif %}
}
function Snackbar(){
    {% if DelSuc == 1 %}
        var DelSuc = document.getElementById("DelSuc");
        DelSuc.innerHTML = "Delete Success";
        DelSuc.className = "show";
        setTimeout(function(){ DelSuc.className = DelSuc.className.replace("show", ""); }, 3000);
    {% endif %}
}
</script>
            <!-- MAIN CONTENT-->
            <div class="main-content" >
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">overview</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-desktop-windows"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{Vmnum}}</h2>
                                                <span>Num Of Vm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-card-off"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{Crashnum}}</h2>
                                                <span>Num Of Crash</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-memory"></i>
                                            </div>
                                            <div class="text">
                                                <h2>3</h2>
                                                <span>Total Docker</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-run"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{Dockernum}}</h2>
                                                <span>Run docker</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">data table</h3>
                            <!-- Vm_list~~~~~ -->
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>Os</th>
                                                <th>VM_Name</th>
                                                <th>VM_ip</th>
                                                <th>Fuzzer</th>
                                                <th>Program</th>
                                                <th>Port</th>
                                            </tr>
                                        </thead>
                                        

                                        <tbody>
                                            {% for Vm in Vm %}
                                            <div class="crash">
                                            <tr class="tr-shadow">
                                                <td onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>
                                                    {% if Vm.Os == 'D' %} <img src="{% static 'images/icon/docker_icon.png' %}" class="os_icon"> 
                                                    {% elif Vm.Os == 'L' %} <img src="{% static 'images/icon/linux_icon.png' %}" class="os_icon"> 
                                                    {% elif Vm.Os == 'W' %} <img src="{% static 'images/icon/windows_icon.png' %}" class="os_icon"> {% endif %}
                                                </td>
                                                <td onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>
                                                {{Vm.VM_Name}}</td>
                                                <td onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>
                                                    <span class="block-email">{{Vm.VM_ip}}</span>
                                                </td>
                                                 <td onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>{{Vm.Fuzzer}}</td>
                                                 <td class="desc" onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>{{Vm.Program}}</td>
                                                 <td onclick=location.href="{% url 'crash_view' ip=Vm.VM_ip program=Vm.Program %}";>{{Vm.Port}}</td>
                                                <td>
                                                    {% if not Vm.Port == 'None' or not Vm.Os == 'D' %}
                                                    <div class="table-data-feature">
                                                        {% if not Vm.Port == 'None' %}
                                                        <a href="{% url 'ping' IP=Vm.VM_ip Port=Vm.Port %}">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Ping">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                            </button>
                                                        </a>
                                                        &nbsp;&nbsp;
                                                        {% endif %}
                                                        <a href="{% url 'vm_delete' Vm_name=Vm.VM_Name %}">
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                        </a>


                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </div>
                                            {% endfor %}              
                                        </tbody>
                                        
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
<div id="DelSuc">Delete Success</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

<!-- end document-->
{% endblock %}
